<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="config.js"></script>

  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Lucide Icons -->
  <script src="https://unpkg.com/lucide@latest"></script>

  <script src="/templates/components/component-registry.js"></script>

  <script src="/templates/components/cosmos-template.js"></script>
</head>

<body class="antialiased">
</body>

</html>